#echoScribeLogo {
	max-width: 300px;
	height:auto;
	margin:0 auto;
	display:block;
}


.big-icon {
    font-size: 62px;
}

img {
	max-width:100%;
	height:auto;
}

.logo-circle {
    border: 1px solid #ddd;
    border-radius: 1000px;
}